turtle
dash==2.6.0
dash_bootstrap_components
dash_bootstrap_templates
numpy
pandas
plotly.graph_objs
plotly.express
plotly.subplots
seaborn
matplotlib.pyplot
scipy.stats
string
nltk
nltk.corpus
nltk.probability
wordcloud
base64
io
PIL
gunicorn